/* ==== Header Blue Theme ==== */
header {
    background-color: #007bff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

}

nav a:hover {
    text-decoration: underline;
}

/* ==== Signup Box Styling ==== */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
}

.signup-container {
    width: 380px;
    background: white;
    padding: 25px;
    margin: 70px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: black;
}

.signup-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #bfbfbf;
    outline: none;
}

.signup-container button {
    width: 95%;
    padding: 12px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

.signup-container button:hover {
    background-color: #005ec2;
}

.extra-links {
    margin-top: 15px;
}
footer {
      background: #333;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 20px;
    }